<header>
  <h1>Welcome To My Store</h1>
  <nav>
    <%= link_to 'Home', root_path %> -
    <%= link_to 'Product Admin', products_path %> -
    <%= link_to 'Category Admin', categories_path %>
  </nav>
</header>
