<p>
  You have visited this page <%= pluralize(@visit_count, 'time') %>.
  <% if @favourite_product %>
    Your favourite product is <%= link_to @favourite_product.name, @favourite_product %>.
  <% end %>
</p>

<%= render partial: 'products/product',
           collection: @products,
           locals: { display_link_to_show: true,
                     display_link_to_edit: false }%>